apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
  namespace: 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      containers:
        - name: demo-api
          image: nginx:latest
          ports:
            - containerPort: 80
